/* Universal Styles */
div {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

body {
  margin: 0px;
  padding: 0;
}

/* Header */

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
  border-bottom: 1px solid black;
}

.heading {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: inline-flex;
  margin-left: 30px;
  margin-bottom: 10px;
}

.nav {
  display: inline-flex;
  margin-right: 30px;
}

h1 {
  color: MediumAquamarine;
  padding-left: 5px;
  align-items: center;
  display: flex;
}

nav li {
  display: inline-block;
  padding: 10px;
}

nav li a {
  color: black;
}

/* container */

.container {
  display: flex;
  margin: 0 auto;
  padding-top: 35px;
  width: 1270px;
  justify-content: space-between;

}

/* Columns */

.column {
  display: inline-flex;
  flex-direction: column;

}

.column.large {
  display: flex;
  width: 630px;
}

.column.medium {
  display: flex;
  width: 300px;

}

.column.small {
  display: flex;
  width: 240px;
  margin-right: 30px;
}
